.container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-validation {
    animation: 1s formAnimation forwards;
}

@keyframes formAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error {
    color: red;
}

.valid {
    color: darkgreen;
}