<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div *ngFor="let photo of photos | slice:0:20" class="card">
        <a href="" [routerLink]="['/photo', photo.id]">
          <img [src]="photo.thumbnailUrl">
        </a>
        <p class="card-text">{{ photo.title }}</p>
      </div>

      <div class="card full" *ngIf="!photos.length && !isLoading">
        <p class="card-text">
          No hay fotos disponibles =(
        </p>
      </div>

      <app-loading *ngIf="isLoading"></app-loading>
    </div>
  </div>
</div>