.album {
    min-height: 50rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;

    img {
        width: 280px;
        height: 280px;
    }
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;

    &.full {
        width: 100%;
    }

    > img {
        margin-bottom: .75rem;
    }

    .card-text {
        font-size: 85%;
    }
}